.configPaneLabel, .configPaneValue {
    display: inline-block;
    margin: 0px 10px;
}

.dialog {
    position: fixed;
    width: 50%;
    background: #ffffff;
    left: 0;
    right: 0;
    margin: auto;
    top: 20%;
    border-top: 25px solid #03A9F4;
}

#blocker {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000000ad;
}