body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: small;
    background: #fbfbfb;
}

#header {
    height: 50px;
    width: 100%;
    background: #03A9F4;
    box-shadow: 0px 0px 5px 2px #b7b7b7;
    z-index: 3;
    /* text-align: center; */
    color: #ffffff;
    font-size: large;
    line-height: 45px;
}

#header .headericon {
    height: 35px;
    width: 35px;
    margin: 8px 2px 7px 25px;
    display: inline-block;
}

#arena {
    /* background: white; */
    margin: 2px 10px 12px;
    /* box-shadow: 0px 1px 4px 1px #cecece; */
    padding: 8px 5px 16px;
    border-radius: 2px;
    border-bottom: 1px solid #dedede;
}

#controlArea {
    /* position: fixed; */
    margin: 4px 12px 0;
    background: #2196F3;
    /* border: 1px solid grey; */
    display: inline-block;
    /* box-shadow: -1px 1px 5px 2px #c1c1c1; */
    background: #ffffff00;
    border-radius: 4px;
}

#pickControl {
}

.controlbutton {
    height: 30px;
    font-size: 15px;
    width: 120px;
    text-align: center;
    text-transform: uppercase;
    padding: 0px 14px;
    margin: 4px 4px;
    cursor: pointer;
    BORDER: none;
    LINE-HEIGHT: 30px;
    BORDER-RADIUS: 4PX;
    background: #2196F3;
    color: #ffffff;
    cursor: pointer;
    transition: 100ms linear all;
}

.controlbutton:focus {
    outline: none;
}

.controlbutton.disable {
    opacity: 0.5;
    cursor: not-allowed;
}

.controlbutton:hover {
    transform: scale(1.1);
}

.controlbutton.disable:hover {
    transform: unset;
}

.controlLabel {
    display: inline-block;
    margin: 4px 100px 4px 4px;
    font-size: medium;
    color: #171717;
}

.infoTextLabel {
    display: inline-block;
    margin: 3px 2px 0px 2px;
    font-size: small;
    color: #171717;
}

.infoTextContent {
    display: inline-block;
    margin: 4px 4px 4px 4px;
    font-size: small;
    color: #383838;
    font-weight: bold;
}

.controlbutton.controlbuttonNegative {
    background: #E91E63;
}

.controlbutton.controlbuttonPositive {
    background: #009688;
}

#pickControl {
}

#missionControl {
}

#voteControl {
}

#controlArea .controlPane {
    line-height: 30px;
    margin-left: 10px;
    height: 40px;
}

#voteArea {
    /* border-top: 1px solid #c5c5c5; */
    padding: 0px 12px;
}

#rolesArea {
}

.title {
    display: none;
    font-size: 20px;
    text-transform: lowercase;
    /* font-family: Coronet script, sans-serif; */
    /* text-decoration: underline; */
    color: #ffffff;
    line-height: 62px;
    vertical-align: top;
    font-weight: lighter;
}

#header .controlbutton {
    position: absolute;
    right: 10px;
    top: 8px;
    margin: 0;
    height: 30px;
    background: #ffffff;
    color: #4e4e4e;
    font-size: 12px;
}

.busyIndicator {
    display: inline-block;
    height: 40px;
    vertical-align: middle;
}

.messageToast{
	position:fixed;
	top: 33%;
	padding: 20px 80px;
	color: white;
	box-shadow: 0px 0px 15px 10px #7b7b7b;
	display: inline-block;
	width: auto;
	left: 33%;
	font-size: large;
	opacity: 0;
	text-transform: uppercase;
}
.messageToast.success{
	background-color: #4CAF50;
	opacity: 1;
	transition: 300ms linear all;
}
.messageToast.fail{
	background-color: #F44336;
	opacity: 1;
	transition: 300ms linear all;
}
