#missionTable {
    display: inline-block;
    background: white;
    margin: 8px 10px 0px;
    /* box-shadow: 0px 1px 4px 1px #cecece; */
    /* padding: 1px 1px; */
    border-radius: 4px;
    box-shadow: 0px 0px 4px 2px #c1c1c1;
}

.column, .roundcontainer {
    display: inline-block;
    vertical-align: top;
}

.cell {
    height: 30px;
    /* width: 50; */
    padding: 4px 16px;
    /* border: 1px solid #c3c3c3; */
    margin: 1px;
    font-weight: bold;
    /* font-size: 25px; */
    line-height: 22px;
    box-sizing: border-box;
}

.row {
}

.playerNameCell, .headerCell {
    /* font-size: 12px; */
    font-weight: normal;
    line-height: 20px;
    /* background: #eaeaea; */
    color: #0c0c0c;
    text-align: center;
    height: 30px;
    box-sizing: border-box;
}

.column .headerCell {
    color: #353535;
    background: #eaeaea;
}

.headerCell.emptyCell {
    background: none;
}

.headerCell.missionSuccess {
    background: #009688;
    color: white;
}

.headerCell.missionFail {
    background: #E91E63;
    color: white;
}

.cell.approvedCell {
    background: #8BC34A;
}

.cell.rejectedCell {
    background: #ffb03b;
}

.cell.leaderCell {
    border: 2px solid black;
}

.playerNamesColumn .columnContainer {
    margin-top: 2px;
    margin-right: 0px;
}

.playerNameCell.cell {
    padding: 4px 8px;
    color: #080808;
    background: #efefef;
    position: relative;
}

.playerNameCell.cell:after {
    /* content: ''; */
    position: absolute;
    display: block;
    border: 14px solid #607d8b00;
    height: 0;
    width: 0;
    right: -28px;
    top: 0;
    border-left-color: #efefef;
    z-index: 1;
}
