.player {
    display: inline-block;
    margin: 10px 10px;
    background: #fbfbfb;
    padding: 20px 25px;
    position: relative;
    border: 1px solid #cecece;
    border-radius: 10px;
    cursor: default;
    color: #484848;
    transition: 200ms linear transform;
    background: white;
    box-shadow: 1px 1px 6px 0px #ababab;
}

.playerContainer.isActive .player {
    cursor: pointer;
}

.player .playerRoleIcon {
    height: 60px;
    width: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.player.roleresistance .playerRoleIcon {
    background-image: url(../icons/resistance.png);
}

.player.rolespy .playerRoleIcon {
    background-image: url(../icons/spy.png);
}

.player.rolemerlin .playerRoleIcon {
    background-image: url(../icons/merlin.png);
}

.player.roleperceival .playerRoleIcon {
    background-image: url(../icons/perceival.png);
}
.player.rolemordred .playerRoleIcon {
    background-image: url(../icons/mordred.PNG);
}

.player.roletriston .playerRoleIcon {
    background-image: url(../icons/triston.PNG);
}

.player.roleisolde .playerRoleIcon {
    background-image: url(../icons/isolde.png);
}
.player.roleoberon .playerRoleIcon {
    background-image: url(../icons/oberon.PNG);
}
.player.rolemorgana .playerRoleIcon {
    background-image: url(../icons/merlin.png);
}
.player .playerName {
    text-align: center;
    font-weight: 400;
    margin-top: 12px;
    font-size: small;
    text-transform: capitalize;
}

.player .roleText {
    text-align: center;
    font-size: small;
    color: #2196F3;
    position: absolute;
    text-transform: lowercase;
    left: 0;
    width: 100%;
}

.player .decidericon {
    position: absolute;
    height: 23px;
    width: 22px;
    background-image: url(../icons/decider.png);
    display: none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -12px;
    top: 5px;
    right: 5px;
    /* transform: scaleX(-1); */
}

.player .leadericon {
    display: none;
    position: absolute;
    height: 25px;
    width: 25px;
    background-image: url(../icons/leader.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 5px;
    left: 5px;
}

.player.isLeader .leadericon, .player.isDecider .decidericon {
    display: block;
}

.playerContainer.isActive .player:hover {
    transform: scale(1.1)
}

.playerContainer.isActive .player.isActive {
    background: #4CAF50;
    border: 1px solid #4CAF50;
}
.playerContainer .player.isActive .decidericon{
    background-image: url(../icons/deciderW.png);
}
.playerContainer .player.isActive .leadericon{
    background-image: url(../icons/leaderW.png);
}
.player.isActive {
    background: #2f2f2f;
    color: white;
    border: 1px solid #2f2f2f;
}

.player.isActive .roleText {
    color: #FFEB3B;
}
